<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="/Chart.js/charts.css" rel="stylesheet">
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
            aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">YX System</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">OverView</a></li>
                <li class="active"><a href="chart">Chart</a></li>
                <li><a href="admin">Admin</a></li>
                <li><a href="contact">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#">Inbox <span class="badge">42</span></a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row linechart">
        <div class="col-md-1 ">

        </div>
        <div class="col-md-10">
            <div>
                <canvas id="canvas-line" height="250" width="600"></canvas>
            </div>
        </div>
        <div class="col-md-1">

        </div>

    </div>

    <div class="row">
        <div class="col-md-1 ">

        </div>
        <div class="col-md-10">
            <div>
                <canvas id="bar-area" height="250" width="600"></canvas>
            </div>
        </div>
        <div class="col-md-1">

        </div>

    </div>

    <div class="row doughnut">
        <div class="col-md-6 ">
            <div id="canvas-holder" width="200" height="200">
                <canvas id="chart-area1"/>
            </div>
        </div>
        <div class="col-md-6">
            <div id="canvas-holder" width="200" height="200">
                <canvas id="chart-area2" />
            </div>
        </div>


    </div>

</div>



<script src="/jquery/dist/jquery.min.js"></script>
<script src="/Chart.js/Chart.js"></script>
<script src="/bootstrap/dist/js/init.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bootstrap/dist/js/sidebar.js"></script>
<script src="/bootstrap/dist/js/searchCondition.js"></script>
</body>
</html>