<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="/bootstrap/dist/css/sidebar.css" rel="stylesheet">
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/smalot-bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
            aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon-send"></span>
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">OverView</a></li>
                <li><a href="chart">Chart</a></li>
                <li><a href="admin">Admin</a></li>
                <li><a href="download">Download</a></li>
                <li><a href="test">Test</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#">Inbox <span class="badge">42</span></a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 sidebar col-sm-2">

            <ul class="nav nav-sidebar" id="chargeTypeBar">

            </ul>
        </div>

        <div class="col-md-10 main col-sm-10">
            <form class="form-inline" role="form">
                <button type="button" class="btn btn-info" data-toggle="modal"
                        data-target="#searchChargeModal">Advance</button>
            </form>
            <table id="dataTable" class="table table-hover ">

            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="searchChargeModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Search Charge
                </h4>
            </div>
            <div class="modal-body">
                <form role="form" method="post" id="searchChargeIndexForm">
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="editId">
                    </div>

                    <div class="form-group">
                        <label for="userName">User Name</label>
                        <select class="form-control" placeholder="Enter User" id="searchChargeUserInForm">

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="charge">Charge Desc</label>
                        <select class="form-control" placeholder="Enter User" id="searchChargeDescInForm">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="amount">Amount From</label>
                        <input type="number" class="form-control" id="searchAmountFrom" placeholder="Enter Amount From">
                    </div>

                    <div class="form-group">
                        <label for="amount">Amount To</label>
                        <input type="number" class="form-control" id="searchAmountTo" placeholder="Enter Amount To">
                    </div>

                    <div class="form-group">
                        <label for="Date">Date From</label>

                        <div id = "searchDateFrom" class="input-append date form_date " data-date="">
                            <input class="form-control" size="16" type="text" value="" id="searchDateFromInForm"
                                   placeholder="Enter Date From">

                            <span class="add-on"><i class="icon-th"></i></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Date">Date To</label>

                        <div id = "searchDateTo" class="input-append date form_date " data-date="">
                            <input class="form-control" size="16" type="text" value="" id="searchDateToInForm"
                                   placeholder="Enter Date To">

                            <span class="add-on"><i class="icon-th"></i></span>
                        </div>
                    </div>

                    <button type="button" class="btn btn-info" data-dismiss="modal" onclick="indexQueryCharge()">
                        Search
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editerModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    Comment
                </h4>
            </div>
            <div class="modal-body">

                <div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">
                    <div class="btn-group">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font"><i class="icon-font"></i><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        </ul>
                    </div>
                    <div class="btn-group">
                        <a class="btn" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="icon-undo"></i></a>
                        <a class="btn" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="icon-repeat"></i></a>
                    </div>
                    <div class="btn-group">
                        <a class="btn" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="icon-bold"></i></a>
                        <a class="btn" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="icon-italic"></i></a>
                        <a class="btn" data-edit="strikethrough" title="Strikethrough"><i class="icon-strikethrough"></i></a>
                        <a class="btn" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="icon-underline"></i></a>
                    </div>
                    <div class="btn-group">
                        <a class="btn" data-edit="insertunorderedlist" title="Bullet list"><i class="icon-list-ul"></i></a>
                        <a class="btn" data-edit="insertorderedlist" title="Number list"><i class="icon-list-ol"></i></a>
                        <a class="btn" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="icon-indent-left"></i></a>
                        <a class="btn" data-edit="indent" title="Indent (Tab)"><i class="icon-indent-right"></i></a>
                    </div>
                    <div class="btn-group">
                        <a class="btn" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="icon-align-left"></i></a>
                        <a class="btn" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="icon-align-center"></i></a>
                        <a class="btn" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="icon-align-right"></i></a>
                        <a class="btn" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="icon-align-justify"></i></a>
                    </div>
                    <div class="btn-group">
                        <a class="btn" title="Insert picture (or just drag & drop)" id="pictureBtn"><i class="icon-picture"></i></a>
                        <input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" />
                    </div>
                </div>
                <br/>
                <input type="hidden" id="editorCid">
                <input type="hidden" id="editorUid">
                <div id="editor" style="height:300px;border: 1px dashed #000">
                    Please Enter&hellip;
                </div>
                <br/>
                <br/>
                <button type="button" class="btn btn-info" data-dismiss="modal" onclick="submitComment()">
                    Commit
                </button>


            </div>
        </div>
    </div>

</div>



<script src="/jquery/dist/jquery.min.js"></script>
<script src="/jquery/dist/jquery.hotkeys.js"></script>
<script src="/bootstrap/dist/js/bootstrap-wysiwyg.js"></script>
<script src="/bootstrap/dist/js/init.js"></script>
<script src="/smalot-bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="/smalot-bootstrap-datetimepicker/js/datetimepicker.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bootstrap/dist/js/sidebar.js"></script>
<script src="/bootstrap/dist/js/searchCondition.js"></script>
<script src="/bootstrap/dist/js/userOperation.js"></script>



</body>
</html>